/* Importing the nunito google font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box includes padding and border when setting a width of height */
    box-sizing: border-box;

}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
}

h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 20px;
}

a {
    /* Removes the underline on a link */
    text-decoration: none;
    color: slategray;
}